<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhikou.code.dao.MessageDao">

    <select id="newMessage" resultType="message" parameterType="INTEGER">
        select message_id as messageId,user_id as userId,user_name as userName,
        province,city,district,address,adcode,classify,lon,lat,
        avatar,title,content,rebate,file_path as filePath,create_time as createTime,start_time as startTime
        from t_message where adcode=#{adcode}
        order by create_time desc
    </select>

    <select id="myLikeMessage" resultType="message" parameterType="INTEGER">
        select t1.message_id as messageId,t1.user_id as userId,t1.user_name as userName,t1.avatar,
        t1.province,t1.city,t1.district,t1.address,t1.adcode,t1.classify,
        t1.title,t1.content,t1.rebate,t1.file_path as filePath,t1.create_time as createTime,t1.start_time as startTime
        from t_message t1 left join t_user_like t2
        on t1.message_id=t2.message_id
        where t2.user_id=#{userId}
        order by t2.update_time desc
    </select>

    <select id="myScanMessage" resultType="message" parameterType="INTEGER">
        select t1.message_id as messageId,t1.user_id as userId,t1.user_name as userName,t1.avatar,
        t1.province,t1.city,t1.district,t1.address,t1.adcode,t1.classify,
        t1.title,t1.content,t1.rebate,t1.file_path as filePath,t1.create_time as createTime,t1.start_time as startTime
        from t_message t1 left join t_user_scan t2
        on t1.message_id=t2.message_id
        where t2.user_id=#{userId}
        order by t2.update_time desc
    </select>

    <select id="myWarnMessage" resultType="message" parameterType="INTEGER">
        select t1.message_id as messageId,t1.user_id as userId,t1.user_name as userName,t1.avatar,
        t1.province,t1.city,t1.district,t1.address,t1.adcode,t1.classify,
        t1.title,t1.content,t1.rebate,t1.file_path as filePath,t1.create_time as createTime,t1.start_time as startTime
        from t_message t1 left join t_user_warn t2
        on t1.message_id=t2.message_id
        where t2.user_id=#{userId}
        order by t2.create_time desc
    </select>

    <select id="warnInfo" resultType="message">
        select t1.message_id as messageId,t1.user_id as userId,t1.user_name as userName,t1.avatar,
        t1.province,t1.city,t1.district,t1.address,t1.adcode,t1.classify,
        t1.title,t1.content,t1.rebate,t1.file_path as filePath,t1.create_time as createTime,t1.start_time as startTime
        from t_message t1 left join t_user_warn t2
        on t1.message_id=t2.message_id
        where t2.warn_time=#{warnTime} and t2.user_id=#{userId}
        order by t2.create_time desc
    </select>

    <select id="threeCount" parameterType="INTEGER" resultType="INTEGER">
        select COUNT(*) from t_user_like where message_id=#{messageId}
        UNION ALL
        select COUNT(*) from t_user_scan where message_id=#{messageId}
        UNION ALL
        select COUNT(*) from t_user_warn where message_id=#{messageId}
    </select>

    <select id="messageData" resultType="message">
        select message_id as messageId,user_id as userId,user_name as userName,
        province,city,district,address,adcode,classify,lon,lat,
        avatar,title,content,rebate,file_path as filePath,create_time as createTime,start_time as startTime
        from t_message
        <where>
            <if test="inputText != null and inputText != '' ">
                title like CONCAT('%',CONCAT(#{inputText},'%'))
            </if>
            <if test="classify != null and classify != '' ">
                and classify=#{classify}
            </if>
            <if test="minLon != 0 and maxLon !=0 and minLat !=0 and maxLat !=0">
                and (lon between #{minLon} and #{maxLon}) and (lat between #{minLat} and #{maxLat})
            </if>
            and adcode=#{adcode}
        </where>
        <if test="rebateOrder ==0">
            order by rebate desc
        </if>
        <if test="rebateOrder ==1">
            order by rebate asc
        </if>
    </select>

</mapper>